## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Configu import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [53]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database_Copy.csv")
city_data_df.head(5)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,current Description
0,0,Boueni,YT,-12.9025,45.0761,76.98,71,14,8.28,few clouds
1,1,Yzeure,FR,46.5644,3.3550,39.29,84,83,9.64,broken clouds
2,2,Chifeng,CN,42.2683,118.9636,29.19,47,85,4.36,overcast clouds
3,3,Port Elizabeth,ZA,-33.9180,25.5701,71.78,87,40,8.21,scattered clouds
4,4,Bambous Virieux,MU,-20.3428,57.7575,79.05,69,40,6.91,scattered clouds

In [54]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 90

In [55]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,current Description
0,0,Boueni,YT,-12.9025,45.0761,76.98,71,14,8.28,few clouds
4,4,Bambous Virieux,MU,-20.3428,57.7575,79.05,69,40,6.91,scattered clouds
12,12,Atuona,PF,-9.8000,-139.0333,77.94,73,49,15.08,scattered clouds
17,17,Rikitea,PF,-23.1203,-134.9692,76.03,73,98,18.16,overcast clouds
18,18,Georgetown,MY,5.4112,100.3354,79.90,88,20,1.01,few clouds
21,21,Itaguai,BR,-22.8522,-43.7753,80.58,66,41,9.17,scattered clouds
38,38,Puerto Ayora,EC,-0.7393,-90.3518,76.96,90,90,5.01,overcast clouds
43,43,Grand Gaube,MU,-20.0064,57.6608,79.20,70,100,5.01,overcast clouds
44,44,Boueni,YT,-12.9025,45.0761,76.98,71,14,8.28,few clouds
48,48,Bambous Virieux,MU,-20.3428,57.7575,79.05,69,40,6.91,scattered clouds

In [56]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                193
City                   193
Country                192
Lat                    193
Lng                    193
Max Temp               193
Humidity               193
Cloudiness             193
Wind Speed             193
current Description    193
dtype: int64

In [57]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_city_df=preferred_cities_df.dropna()

In [58]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
0,Boueni,YT,76.98,few clouds,-12.9025,45.0761,
4,Bambous Virieux,MU,79.05,scattered clouds,-20.3428,57.7575,
12,Atuona,PF,77.94,scattered clouds,-9.8000,-139.0333,
17,Rikitea,PF,76.03,overcast clouds,-23.1203,-134.9692,
18,Georgetown,MY,79.90,few clouds,5.4112,100.3354,
21,Itaguai,BR,80.58,scattered clouds,-22.8522,-43.7753,
38,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,
43,Grand Gaube,MU,79.20,overcast clouds,-20.0064,57.6608,
44,Boueni,YT,76.98,few clouds,-12.9025,45.0761,
48,Bambous Virieux,MU,79.05,scattered clouds,-20.3428,57.7575,

In [59]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,current Description,Lat,Lng,Hotel Name
0,Boueni,YT,76.98,few clouds,-12.9025,45.0761,The feet in water
4,Bambous Virieux,MU,79.05,scattered clouds,-20.3428,57.7575,Casa Tia Villa
12,Atuona,PF,77.94,scattered clouds,-9.8000,-139.0333,Villa Enata
17,Rikitea,PF,76.03,overcast clouds,-23.1203,-134.9692,People ThankYou
18,Georgetown,MY,79.90,few clouds,5.4112,100.3354,Cititel Penang
21,Itaguai,BR,80.58,scattered clouds,-22.8522,-43.7753,It Grande Hotel Itaguai
38,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
43,Grand Gaube,MU,79.20,overcast clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
44,Boueni,YT,76.98,few clouds,-12.9025,45.0761,The feet in water
48,Bambous Virieux,MU,79.05,scattered clouds,-20.3428,57.7575,Casa Tia Villa

In [61]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [62]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [63]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))